@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.link {
		@apply hover:underline text-primary-400;
	}

	/* autostyle org-generated html */
	a[data-org-generated] {
		@apply link;
	}

	/* input[type="text"], */
	/* input[type="email"], */
	/* input[type="password"], */
	/* textarea { */
	/* 	@apply focus:ring-2 */
	/* 		focus:ring-primary-300/50 */
	/* 		border-none; */
	/* } */
}

@layer components {
	/* common styles for all buttons */
	.btn-base {
		@apply inline-flex
			items-center
			px-4
			py-3
			rounded-xl
			font-semibold
			text-sm
			tracking-widest
			transition
			ease-in-out
			duration-150
			focus:ring-primary-300/50
			focus:ring-2
			active:ring-0;
	}
	/* common styles for outline buttons */
	.btn-outline-neutral {
		@apply btn-base
			bg-transparent
			border;
	}
	/* common styles for filled buttons */
	.btn-neutral {
		@apply btn-base
			border
			border-transparent
			focus:outline-none
			text-secondary-100;
	}

	/* outline buttons */
	.btn-outline-primary {
		@apply btn-outline-neutral
			border-primary-400
			text-primary-400
			hover:border-primary-600
			active:text-primary-600;
	}
	.btn-outline-secondary {
		@apply btn-outline-neutral
			border-secondary-300
			text-secondary-300
			hover:border-secondary-400
			active:text-secondary-400;
	}
	.btn-outline-success {
		@apply btn-outline-neutral
			border-green-400
			text-green-400
			hover:border-green-600
			active:text-green-600;
	}
	.btn-outline-danger {
		@apply btn-outline-neutral
			border-red-400
			text-red-400
			hover:border-red-600
			active:text-red-600;
	}

	/* filled buttons */
	.btn-primary {
		@apply btn-neutral
			bg-primary-600
			active:bg-primary-700
			hover:text-primary-300;
	}
	.btn-secondary {
		@apply btn-neutral
			bg-secondary-600
			active:bg-secondary-700
			hover:text-primary-300;
	}
	.btn-success {
		@apply btn-neutral
			bg-green-600
			active:bg-green-700
			hover:text-primary-300;
	}
	.btn-danger {
		@apply btn-neutral
			bg-red-600
			active:bg-red-700
			hover:text-primary-300;
	}
}
